{% raw %}{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign in" %}{% endblock %}

{% block extrastyle %}
{% load static from staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/account/login.css' %}" />
{% endblock %}

{% block inner %}

{% if next %}
{% if user.is_authenticated %}
<p>
  {% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}
</p>
{% else %}
<p>{% trans "Please login to see this page." %}</p>
{% endif %}
{% endif %}

<div class="sign-wrapper">
  <h1>{% trans 'Sign in' %}</h1>
  <form method="post">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    {% crispy form %}
  </form>
</div>

{% endblock %}
{% endraw %}